pandas
requests

google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib

google-cloud-core
google-cloud-bigquery
google-cloud-storage

db-dtypes

python-dotenv

anthropic

google-genai
google-generativeai
sqlalchemy
psycopg2-binary